@media screen and (max-width: 600px){
    .logo{
        margin: 0 auto;
    }
    header{
        flex-direction: column;
    }
    ul{
        text-align: center;
    }
    main{
        display: flex;
        flex-direction: row;
        margin: 0;
    }
    h1{
        font-family: 'cafeta';
        font-weight: 100;
        margin: 0 50px;
        font-size:1.5em;
    }
    p{
        margin: 0 50px;
        font-weight: 100;
        font-size: 1.1em;
        max-width: 100vw;
        text-indent: 20px;
        text-align:justify;

    }
    button{
        margin: 5px 170px;
        width: 20%;
        padding: 5px;
        height: 25px;
        text-indent: 5px;
    }
    
    picture{
        display: none;
    }
    .contain{
        display: none;
    }
    
}