@media screen and (max-width: 560px){
   
    header{
        flex-direction: column;
    }
    main{
        flex-direction: column;
    }
    h1{
        font-size: 20px;
    }
    p{
        font-weight:500;
        font-size: 16px;
        max-width: 300px;
        
    }
    button{
        margin-top: 10px;
        padding: 5px;
        width: 30%;
        height: 40px;
    }
    ul{
        text-align: center;
    }
    .logo{
        margin: 0 auto;
    }
    picture{
        display: none;
    }
    
}