@media screen and (max-width: 950px){
    .logo{
        margin: 0 auto;
    }
    header{
        flex-direction: column;
    }
    main{
        
        display: flex;
        flex-direction: row;
        margin: auto 300px;
    }
    h1{
        margin: 0 100px;
        font-size:1.9em;
    }
    p{
        font-weight: 200;
        font-size: 1.1em;
        max-width: 380px;
        text-indent: 20px;
    }
    button{
        margin-top: 10px;
        padding: 5px;
        width: 30%;
        height: 40px;
    }
    ul{
        text-align: center;
    }
    picture{
        display: none;
    }
    .contain{
        display: none;
    }
    
}