@font-face{
    font-family:'cafe';
    src: url('/font/CAFETA__.TTF') format('woff');
    font-weight: normal;
    font-style:normal;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin: 0 auto;
 
}
body, html{
    height: 100vh;
    overflow: hidden;
}
.logo{
    margin: auto;
}
header{
    display: flex;
    justify-content: space-between;
    height: 200px;
    padding: 20px 0px;
}
li{
    display: inline-block;
    margin: 15px;
}
a{
    text-decoration: none;
    color: #000000;
}
a:hover{
    color: #017144;
    transition: 0.4s all;
}
main{
    display: flex;
    flex-direction: row;
    position: relative;
    right: 300px;
    height: 200px;
    width: 100%;
}
h1{ 
    font-family: cafe;
    font-weight: normal;
    margin: auto;
    font-size:2em;
}
strong{
    color: #017144;
}
p{
    margin: 20px 0;
    font-size: 1.1em;
    max-width: 320px;
    text-align: justify;
}
button{
    margin-left: 100px;
    border:none;
    border-radius: 10px;
    background-color: #017144;
    color: #ffffff;
    padding: 5px;
    width: 40%;
    height: 30px;
    cursor: pointer;
}
button:hover{
    background-color: #ffffff;
    color: #017144;
    transition: 1.5s;
    transition-delay: 0.3s;
}
.contain{
    position:fixed;
    background-color: #017144;
    background-attachment: fixed;
    width: 700px;
    height: 700px;
    border-radius: 50%;
    top: 200px;
    right: -300px;
}
.conteudo{
    position: absolute;
    left: -60px;
    bottom: 200px;
}