@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&display=swap');
 :root{
    --font01:Verdana, Geneva, Tahoma, sans-serif;
    --font02:'IBM Plex Sans', sans-serif;
 }
@font-face{
    font-family:'cafeta';
    src: url('/font/CAFETA__.TTF') format('woff');
    font-weight: normal;
    font-style:normal;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html{
    font-family:var(--font01);
    overflow: hidden;
}
.logo{
    margin: 0 100px;
}
header{
    display: flex;
    justify-content: space-between;
    height: 200px;
    padding: 20px 0px;
}
ul{
    margin: 0 auto;
}
li{
    display: inline-block;
    margin: 15px;
}
a{
    text-decoration: none;
    color: #000000;
}
a:hover{
    color: #017144;
    transition: 0.4s all;
}
main{
    margin: 0 100px;
    display: flex;
    flex-direction: row;
}
h1{
    font-family: 'cafeta';
    font-weight: normal;
    font-size:2em;
}
strong{
    color: #017144;
}
p{
    max-width: 40%;
    font-family:var(--font02);
    font-weight: normal;
    font-style: normal;
    font-size: 1.1em;
    text-align: justify;
}
button{
    border:none;
    border-radius: 10px;
    background-color: #017144;
    color: #ffffff;
    margin: 5px;
    padding: 5px;
    height: 30px;
    cursor: pointer;
}
button:hover{
    background-color: #ffffff;
    color: #017144;
    transition: 1.5s;
    transition-delay: 0.3s;
}
.contain{
    position: fixed;
    background-color: #017144;
    background-position: center;
    border-radius: 50%;
    width: 700px;
    height: 700px;
    top: 200px;
    right: -300px;
}
.conteudo{
    position: absolute;
    left: -60px;
    bottom: 200px;
}